---
import RadioButton from "../form/RadioButton.astro";
import AmountPicker from "../form/AmountPicker.astro";
import Button from "../Button.astro";
---

<div class="formStep step1">
  <h2 class="text-form-title-large">Her er overskriften</h2>
  <form action="">
    <div id="radioButtonContainer">
      <RadioButton label="Månedligt" radioGroup="PaymentInfo" />
      <RadioButton label="Én gang" radioGroup="PaymentInfo" />
    </div>
    <AmountPicker size="regular" />
    <!-- <InputFieldRequired label="Andet beløb" labelThickness="thick" placeholder="ex: 1000" unit="kr." name="amountPicker" /> -->
    <Button label="Støt nu" size="thick" style="filled" />
  </form>
</div>

<style>
  .formStep,
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  /* –––––––––– Step 1 –––––––––– */
  #radioButtonContainer {
    display: flex;
    gap: 24px;
  }

  /* –––––––––– Hide –––––––––– */
  .hide {
    display: none;
  }
</style>
