---
const { label, placeholder, type, autocomplete } = Astro.props;
---

<div class="inputFieldContainer">
  <div class="label">
    <label for={"InputField" + label} class="text-form-label-semibold">{label}</label>
    <div id="required" class="text-form-label-semibold">*</div>
  </div>
  <div class="Field">
    <input type={type} autocomplete={autocomplete} id="InputFieldID" class="inputField" placeholder={placeholder} name="userInfo" required />
  </div>
</div>

<style>
  .inputFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    max-width: 320px;
  }
  .label {
    display: flex;
    gap: 4px;
  }
  #required {
    color: var(--color-text-red500);
  }
  .Field {
    border-radius: 4px;
    border: 1px solid var(--color-stroke-gray-300, #cacdd5);
    background: var(--color-surface-white, #fff);

    display: flex;
    justify-content: space-between;
  }
  .inputField {
    padding: 10px 0 10px 20px;
    border-radius: 4px;
    border: none;
    width: 100%;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    color: var(--color-text-gray400);
  }

  .inputField::placeholder {
    color: var(--color-text-gray400);
  }

  /* ----------- Variants ----------- */

  /* label styling */
  [label-thickness="regular"] {
    font-weight: 400;
    color: var(--color-text-gray500);
  }

  [label-thickness="thick"] {
    font-weight: 600;
    color: var(--color-text-gray900);
  }
</style>
