---
---

<div id="radioButtonContainer">
  <label for="radioButtonMonthlyPayment" class="radioLabel text-form-label-regular">
    <input type="radio" name="supportTypePicker" id="radioButtonMonthlyPayment" class="radioInput" />
    <div class="radioButtonCustom"></div>
    Månedligt
  </label>
  <label for="radioButtonSinglePayment" class="radioLabel text-form-label-regular">
    <input type="radio" name="supportTypePicker" id="radioButtonSinglePayment" class="radioInput" />
    <div class="radioButtonCustom"></div>
    Én gang
  </label>
</div>

<style>
  #radioButtonContainer {
    display: flex;
  }
  .radioLabel {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 24px;
    color: var(--color-text-gray500);
  }
  .radioInput {
    display: none;
  }

  /* selve radio knappen */
  .radioButtonCustom {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--color-stroke-gray300);
    box-sizing: border-box;
    padding: 3px;
    margin-right: 10px;
  }
  .radioButtonCustom::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    background-color: var(--color-surface-red500);
    transform: scale(0);
    transition: transform 0.15s;
  }
  .radioInput:checked + .radioButtonCustom {
    border-color: var(--color-stroke-red500);
  }
  .radioInput:checked + .radioButtonCustom::after {
    transform: scale(1);
  }
</style>
