:root {
  /* ----------------- primitives ----------------- */
  /* primitive colors */
  --red300: #ff7591;
  --red500: #ff1053;
  --red600: #cf1046;
  --red700: #a20e38;

  --green500: #007b79;
  --green700: #004e4d;

  --yellow500: #f5b335;
  --yellow700: #cf8800;

  --white: #ffffff;
  --gray300: #cacdd5;
  --gray400: #a2a6b4;
  --gray500: #6f717d;
  --gray900: #1c1e22;

  /* sizes */
  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --size-56: 56px;
  --size-64: 64px;

  /* ----------------- Tokens ----------------- */
  /* Surface Color */
  --color-surface-red300: var(--red300);
  --color-surface-red500: var(--red500);
  --color-surface-red600: var(--red600);
  --color-surface-red700: var(--red700);

  --color-surface-green500: var(--green500);
  --color-surface-green700: var(--green700);

  --color-surface-yellow500: var(--yellow500);
  --color-surface-yellow700: var(--yellow700);

  --color-surface-white: var(--white);
  --color-surface-gray300: var(--gray300);
  --color-surface-gray400: var(--gray400);

  /* Stroke Color */
  --color-stroke-red500: var(--red500);
  --color-stroke-green500: var(--green500);
  --color-stroke-yellow500: var(--yellow500);

  --color-stroke-white: var(--white);
  --color-stroke-gray300: var(--gray300);
  --color-stroke-gray400: var(--gray400);
  --color-stroke-gray500: var(--gray500);
  --color-stroke-gray900: var(--gray900);

  /* Text Color */
  --color-text-red500: var(--red500);
  --color-text-white: var(--white);
  --color-text-gray300: var(--gray300);
  --color-text-gray400: var(--gray400);
  --color-text-gray500: var(--gray500);
  --color-text-gray900: var(--gray900);

  /* spacing */
  --size-spacing-4: var(--size-4);
  --size-spacing-8: var(--size-8);
  --size-spacing-12: var(--size-12);
  --size-spacing-16: var(--size-16);
  --size-spacing-20: var(--size-20);
  --size-spacing-24: var(--size-24);
  --size-spacing-32: var(--size-32);
  --size-spacing-40: var(--size-40);
  --size-spacing-48: var(--size-48);
  --size-spacing-56: var(--size-56);
  --size-spacing-64: var(--size-64);
}
