---
import BrudSection from "../components/BrudSection.astro";
import Form from "../components/Form.astro";
import Landingpage from "../components/Landingpage.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import "../styles/reset.css";
import { Image } from "astro:assets";
---

<html lang="dk">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <div class="hero_container">
        <section class="hero_index">
          <Navigation />
          <div class="hero_tekst">
            <h4 class="text-title-uppercase">Kampagne</h4>
            <Landingpage />
            <h2 class="text-display-small">
              Støt os med et julebidrag i kampen mod plastikforureningen på
              verdensplan. <br />Herunder har vi samlet en guide med god råd
              til, <br /> hvordan Du kan mindske Dit eget forbrug i juletiden.
            </h2>
          </div>
        </section>
      </div>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>

<style>
  .hero_index {
    background-image: url("../assets/Images/Juleskrald_Plastic_Change_darker.webp");
    background-size: cover;
    background-position: left;
    height: 80vh;
    position: relative;
  }
  .hero_tekst {
    padding: var(--size-spacing-24);
    padding-top: var(--size-spacing-24);
    font-size: var();
  }
  .text-title-uppercase {
    color: var(--white);
    padding-bottom: var(--size-spacing-24);
  }
  .text-display-small {
    color: var(--white);
    max-width: 40ch;
  }
  @media only screen and (min-width: 768px) {
    .hero_index {
      background-image: url("../assets/Images/Juleskrald_Plastic_Change_darker.webp");
      background-size: cover;
      background-position: left;
      height: 80vh;
      position: relative;
    }
    .hero_tekst {
      padding: var(--size-spacing-24);
      padding-top: var(--size-spacing-64);
    }
    .text-title-uppercase {
      color: var(--white);
      padding-bottom: var(--size-spacing-32);
    }
    .text-display-small {
      color: var(--white);
      max-width: 40ch;
    }
  }
</style>
