---
import Form from "../components/Form.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/global.css";
import "../styles/reset.css";
---

<html lang="dk">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <BaseLayout>
    
    </BaseLayout>
     </body>
</html>
