---
import DonationForm from "../components/DonationForm.astro";
import "../styles/global.css";
import "../styles/reset.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Forside</h1>
    <DonationForm />
    <link rel="stylesheet" href="src/pages/kalender.astro" />
  </body>
</html>
