---
import BrudSection from "../components/BrudSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import CalenderSection from "../components/CalenderSection.astro";
import Form from "../components/Form.astro";
import Landingpage from "../components/Landingpage.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import "../styles/reset.css";
import Infographic from "../components/Infographic.astro";
import { Image } from "astro:assets";
import arrow from "../assets/images/forside/icons8-arrow-48.png";
import DitBidrag from "../components/DitBidrag.astro";
import FormMobil from "../components/FormMobil.astro";
---

<BaseLayout>
  <header>
    <div class="form_plasering_desktop"><Form /></div>
    <div class="hero_container">
      <section class="hero_index sticky-hero">
        <!--    <Navigation /> -->
        <Navigation />
        <div class="hero_tekst">
          <h4 class="text-title-uppercase">Kampagne</h4>
          <Landingpage />

          <h2 class="text-display-small">
            Bliv en del af forandringen: Støt plastikstop i julen <br /> – Én donation ad gangen!
          </h2>

          <h2 class="text-display-small readMore">Læs mere om at reducere dit plastikforbrug i juletiden</h2>

          <!-- Find/få tips til at reducere dit plastikforbrug i juletiden -->
        </div>
        <div class="arrow">
          <Image class="arrowI" src={arrow} alt="Pil som peger ned mod resten af siden" />
        </div>
      </section>
    </div>
  </header>

  <main>
    <div class="info_sektion_mobli_view">
      <div class="form_plasering_mobil">
        <div id="form_container_mobil"><FormMobil /></div>
      </div>
      <Infographic />
    </div>
    <CalenderSection />
    <BrudSection />
    <DitBidrag id="calenderSection" />
  </main>
</BaseLayout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".hero_index", {
    scrollTrigger: {
      trigger: ".hero_container",
      start: "top top",
      end: "bottom top",
      pin: true,
      pinSpacing: false,
    },
  });

  document.addEventListener('DOMContentLoaded', () => {
  const readMoreButton = document.getElementById('readMoreButton');

  if (readMoreButton) {
    readMoreButton.addEventListener('click', (event) => {
      event.preventDefault(); // Forhindrer standardformularadfærd
      gsap.to(window, { duration: 1, scrollTo: '#calenderSection' });
    });
  }
});
</script>

<style>
  .form_plasering_desktop {
    display: none;
  }
  #form_container_mobil {
    width: fit-content;
    height: fit-content;
    z-index: 5;
  }
  .form_plasering_mobil {
    position: relative;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    padding: var(--size-spacing-48) 0;
    width: 100vw;
    height: fit-content;
    z-index: 7;
  }
  .hero_container {
    height: 100vh; /* Juster højden efter behov */
    /* position: relative; */
    overflow: hidden;
  }

  .hero_index {
    background-image: url("../assets/Juleskrald_Plastic_Change_darker.webp");
    background-size: cover;
    background-position: left;
    height: 100vh;
    /* position: relative; */
  }
  .hero_tekst {
    padding: var(--size-spacing-24);
    padding-top: var(--size-spacing-24);
  }
  .text-title-uppercase {
    color: var(--white);
    padding-bottom: var(--size-spacing-24);
  }
  .text-display-small {
    color: var(--white);
    max-width: 40ch;
  }

  .readMore {
    margin-top: 10rem;
  }

  .arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: var(--size-spacing-12) 0 0 var(--size-spacing-64); */
  }
  .arrowI {
    transform: rotate(-45deg);
  }

  @media (min-width: 1187px) {
    .form_plasering_mobil {
      display: none;
    }
    .form_plasering_desktop {
      display: block;
      position: absolute;
      top: 100px;
      right: 100px;
    }
  }

  @media only screen and (min-width: 768px) {
    .hero_tekst {
      padding: var(--size-spacing-24);
      padding-top: var(--size-spacing-64);
    }
    .text-title-uppercase {
      color: var(--white);
      padding-bottom: var(--size-spacing-32);
    }
    .text-display-small {
      color: var(--white);
      max-width: 40ch;
    }
    .arrow {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      /* margin: var(--size-spacing-12) 0 0 var(--size-spacing-64); */
    }
    .arrowI {
      transform: rotate(-45deg);
      grid-column: 2/3;
    }
  }
</style>
