---
import { Image } from "astro:assets";
import glamping from "../assets/Images/julekalender/glamping.webp";
import Calendar from "../components/Calendar.astro";
import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import "../styles/reset.css";
import Button from "../components/Button.astro";
---

<BaseLayout>
  <header>
    <div class="container">
      <section class="hero">
        <Navigation />
        <!-- Hero -->
        <div class="hero_tekst">
          <h4 class="text-title-uppercase">Kampagne</h4>
          <h1 class="text-display-large">Årets julekalender</h1>
          <p class="text-display-small">
            Åben dagens magiske julelåge og tag del i bæredygtig glæde! Reducer
            plastikforbruget med daglige opgaver og spred julestemning med
            omtanke!
          </p>
        </div>
      </section>
    </div>
  </header>
  <main>
    <section class="vind_en_glamping">
      <div class="glamping_container">
        <div class="glmaping_overskrifter">
          <h2 class="text-display-medium">
            Vind en glamping tur ved tilmelding af julekalenderen
          </h2>
          <p class="text-form-label-semibold">
            Når du tilmelder dig vores julekalender på mail er du samtidig med i
            konkurrencen om at vinde en mindeværdig oplevelse ude i naturen
            sammen med en du holder af.
          </p>
        </div>
        <div class="glamping_content">
          <Image class="glamping_billede" src={glamping} alt="glamping" />
          <div class="glaming_tekst">
            <p class="text-body-regular">
              Hvis du ikke ønsker at deltage i konkurrencen, men stadig vil
              bidrage til at bekæmpe plastikforurening, er der også en løsning
              for dig. Åbn dagens låge og opdag, hvilket lille tiltag du kan
              implementere i dag for at gøre en forskel. Vores julekalender
              rummer 24 små, men kraftfulde forslag til, hvordan du kan være med
              til at reducere plastikforbruget og gøre en positiv indvirkning på
              miljøet.
            </p>
            <br />
            <br />
            <p class="text-body-regular tekst">
              Derudover vil vi afsløre den heldige vinder af glamping turen i
              den 24. låge. Så uanset om du er interesseret i at vinde en
              spændende glamping tur eller bare ønsker at bidrage til en vigtig
              sag, har vores julekalender noget for enhver smag. Tilmeld dig
              nyhedsbrevet eller åbn dagens låge – det er din mulighed for at
              gøre en forskel og være en del af kampen mod plastikforurening!
            </p>
          </div>
        </div>
      </div>
    </section>
    <Calendar />
    <div class="se_dagens_button">
      <Button label="Se dagens låge" size="thick" style="filled" />
    </div>
  </main>
</BaseLayout>

<!-- Style -->
<style>
  /* -----Hero----- */
  .hero {
    background-image: url("../assets/backgroundImages/pakkegaver.webp");
    background-size: cover;
    background-position: right;
    height: 80vh;
    position: relative;
  }
  .hero_tekst {
    padding: var(--size-spacing-24);
    padding-top: var(--size-spacing-24);
  }
  .text-display-large {
    color: white;
  }

  .text-title-uppercase {
    padding-bottom: var(--size-spacing-24);
    color: var(--white);
  }
  .text-display-small {
    max-width: 40ch;
    color: var(--white);
  }
  .se_dagens_button {
    padding-top: var(--size-spacing-24);
    max-width: 320px;
  }

  /* ---------------------- */
  /* ---------Vind en glamping section------------ */
  .vind_en_glamping {
    display: flex;
    flex-direction: column;
    min-width: 325px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    padding: var(--size-spacing-32);
  }
  .glamping_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .glamping_billede {
    max-width: 320px;
    max-height: 320px;
  }
  .glmaping_overskrifter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-spacing-20);
    margin-bottom: var(--size-spacing-24);
    max-width: 60ch;
  }
  .glamping_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-spacing-24);
    max-width: 60ch;
  }

  @media only screen and (min-width: 800px) {
    .hero {
      background-position: center;
    }
    .hero_tekst {
      padding: var(--size-spacing-24);
      padding-top: var(--size-spacing-64);
    }
    .text-title-uppercase {
      padding-bottom: var(--size-spacing-32);
    }
    .text-display-small {
      max-width: 40ch;
    }
    /* Glamping  */
    .vind_en_glamping {
      max-width: 1134px;
    }
    .glamping_billede {
      max-width: 520px;
      max-height: 520px;
      order: 3;
    }
    .glamping_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      gap: var(--size-spacing-24);
      max-width: none;
    }
    .glamping_container {
      align-items: flex-start;
      max-width: 100%;
    }
    .glmaping_overskrifter {
      max-width: 80ch;
    }
  }
</style>
