---
import { Image } from "astro:assets";
import ChristmasTable from "../assets/images/brudSection/christmasTable.webp";
import Ornament from "../assets/images/brudSection/ornament.webp";
import Pinetree from "../assets/images/brudSection/pinetree.webp";
import Presents from "../assets/images/brudSection/presents.webp";
import "../styles/global.css";
---

<div class="godeJulevaner">
  <h2 class="text-display-medium">4 gode julevaner</h2>
</div>
<section id="brudSection">
  <div class="border_img">
    <article class="card">
      <div class="card_thumb">
        <Image src={ChristmasTable} alt="Julebord" />
      </div>
      <div class="card_content">
        <p class="text-body-small">Hvad kan du gøre?</p>
        <p class="text-display-small">Gode råd til julebordet</p>
      </div>
    </article>

    <article class="card">
      <div class="card_thumb">
        <Image src={Ornament} alt="Julepynt" />
      </div>
      <div class="card_content">
        <p class="text-body-small">Hvad kan du gøre?</p>
        <p class="text-display-small">Gode råd til julepynten</p>
      </div>
    </article>
    <article class="card">
      <div class="card_thumb">
        <Image src={Pinetree} alt="Grantræ" />
      </div>
      <div class="card_content">
        <p class="text-body-small">Hvad kan du gøre?</p>
        <p class="text-display-small">Gode råd til juletræet</p>
      </div>
    </article>
    <article class="card">
      <div class="card_thumb">
        <Image src={Presents} alt="Gaver" />
      </div>
      <div class="card_content">
        <p class="text-body-small">Hvad kan du gøre?</p>
        <p class="text-display-small">Gode råd til gaveindpakning</p>
      </div>
    </article>
  </div>
</section>
<style>
  .godeJulevaner {
    margin: var(--size-spacing-48) 0 var(--size-spacing-20) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-gray900);
  }
  #brudSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .border_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    display: grid;
    position: relative;
    width: 50vw;
    height: fit-content;
  }
  .card_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--color-text-white);
    padding: var(--size-spacing-20);
    gap: var(--size-spacing-8);
  }
  .card_thumb,
  .card_content {
    grid-area: 1/2;
  }

  .card img {
    width: 50vw;
    height: fit-content;
    object-fit: cover;
  }

  @media (min-width: 800px) {
    #brudSection {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
    }
    .border_img {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0 var(--size-spacing-64) var(--size-spacing-64)
        var(--size-spacing-64);
      overflow: hidden;
      border-radius: var(--border-size-4);
      border-radius: var(--border-size-4);
    }
    .card,
    .card img {
      width: 100%;
    }
    .card:hover {
      transform: scale(104%);
      transition: 0.3s ease-in-out;
    }
  }
</style>
