---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import ornament from "../assets/images/brudSection/julepynt.png";
import kryds from "../assets/images/kryds.svg";
---

<div id="Door_container">
  <Image src={kryds} alt="luk lågen" id="exit" />
  <div class="imageAndTitle">
    <p class="dato text-display-medium white">1. december</p>
    <Image class="ornamentImage" src={ornament} alt="Julepynt" />
  </div>
  <div class="indhold_container">
    <div class="text_containter">
      <p class="text-display-small white">Dagens tip:</p>
      <p class="text-body-regular white">Spred juleglæden med bæredygtig julepynt! Sæt stjernen på toppen ved at vælge pynt lavet af naturens egne skatte som træ, glas, papir eller stof.</p>
      <p class="text-body-regular white">Skab dine egne magiske dekorationer ved at trylle med genanvendelige materialer eller naturens finurlige gaver som kogler, grene og tørrede blomster.</p>
      <p class="text-body-regular white">Få næste tip i morgen!</p>
    </div>
    <div class="tilMeldDig_container">
      <p class="tilmeld_dig text-form-label-semibold white">Tilmeld dig julekalenderen på mail og vær med i konkurrencen om en glampingtur!</p>
      <div class="Field">
        <input type="email" min="1" step="1" name="regular" id="inputfieldRegular" class="inputField" autocomplete="email" placeholder="ex: Anne@hansen.dk" />
        <div id="unit" class="text-form-label-regular">
          <Button label="Tilmeld" size="small" style="filled" />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #Door_container {
    background-image: url("../../assets/backgroundImages/Popup2.svg");
    background-position: center;
    background-size: cover;
    border-radius: var(--size-spacing-24);

    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 64px 24px 24px;

    width: 90%;
    height: fit-content;
    position: relative;
  }
  #exit {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #exit:hover {
    scale: 80%;
  }
  .ornamentImage {
    display: none;
  }
  .indhold_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .text_containter,
  .tilMeldDig_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .tilMeldDig_container {
    max-width: 420px;
  }
  .white {
    color: var(--color-text-white);
    background-color: var(--color-surface-green700);
  }
  .tilmeld_dig {
    line-height: 24px;
    margin: 0 16px;
    text-align: center;
  }
  /* ---------- input field ---------- */
  .inputLabel {
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
  }

  .Field {
    border-radius: 999px;
    border: 1px solid var(--color-stroke-gray-300, #cacdd5);
    background: var(--color-surface-white, #fff);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .inputField {
    padding: 10px 0 10px 20px;
    border-radius: 999px;
    border: none;
    width: 100%;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    color: var(--color-text-gray400);
  }

  .inputField::placeholder {
    color: var(--color-text-gray400);
  }
  #unit {
    padding: 8px;
  }
  @media (min-width: 800px) {
    .container {
      background-image: url("../assets/backgroundImages/Popup1.svg");
    }
  }
  @media (min-width: 900px) {
    .ornamentImage {
      display: block;
    }

    #Door_container {
      flex-direction: row;
      max-width: 840px;
    }
    .imageAndTitle {
      width: 100%;
    }
    .indhold_container {
      width: 100%;
    }
  }
</style>
