---
import Button from "./Button.astro";
import { Image } from "astro:assets";
import door1 from "../assets/images/julekalender/door1.svg";
---

<section class="CalenderSection">
  <h2 class="text-display-medium">Følg med i årets julekalender.<br />Tilmeld dig og vind en glamping tur</h2>
  <Image src={door1} alt="dagens låge" class="CalenderDoor" />
  <Button label="Åben dagens låge" size="regular" style="filled" />
  <p class="text-title-uppercase">eller</p>
  <div class="emailSignUp_container">
    <p class="text-form-label-semibold">Modtag vores dagens låge i din mail med tips og tricks til en plastikreduceret jul og vær med i lodtrækningen om en glamping tur for to.</p>
    <div class="inputFieldContainer">
      <div class="Field">
        <input type="email" min="1" step="1" name="regular" id="inputfieldRegular" class="inputField" autocomplete="email" placeholder="ex: Anne@hansen.dk" />
        <div id="unit" class="text-form-label-regular"><Button label="Tilmeld" size="small" style="filled" /></div>
      </div>
    </div>
  </div>
</section>
<style>
  .CalenderSection {
    width: 100vw;
    height: 100vh;
    padding: 48px 24px;
    background-image: url("../assets/backgroundImages/calenderBackgroundSmall.svg");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  h2,
  p {
    color: var(--color-text-white);
    text-align: center;
    width: fit-content;
    background-color: var(--color-surface-green500);
  }
  h2 {
    max-width: 812px;
  }

  p {
    max-width: 624px;
  }

  .CalenderDoor {
    object-fit: contain;
    height: 100%;
    width: max-content;
    /* width: 380px;
    height: 380px; */
    border: 2px solid var(--color-stroke-white);
    box-shadow: var(--shadow-drop-green);
  }

  /* ---------- input field ---------- */

  .emailSignUp_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .inputFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }
  .inputLabel {
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
  }

  .Field {
    border-radius: 999px;
    border: 1px solid var(--color-stroke-gray-300, #cacdd5);
    background: var(--color-surface-white, #fff);

    display: flex;
    justify-content: space-between;
  }
  .inputField {
    padding: 10px 0 10px 20px;
    border-radius: 999px;
    border: none;
    width: 100%;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    color: var(--color-text-gray400);
  }

  .inputField::placeholder {
    color: var(--color-text-gray400);
  }
  #unit {
    color: var(--color-text-gray500);
    padding: 8px;
  }

  @media (min-width: 800px) {
    .CalenderSection {
      background-image: url("../../public/assets/backgroundImages/calenderBackground.svg");
    }
    h2,
    p {
      background-color: var(--color-surface-green500);
    }
  }
</style>
