---
import RadioButton from "../components/form/RadioButton.astro";
import AmountPicker from "./form/AmountPicker.astro";
---

<div id="formWithSnow">
  <!-- skift stien til at være i src istedet for public -->
  <img src="../../snow.svg" alt="illustration af sne på formularen" id="snow" />
  <div id="form_container">
    <h2 class="text-form-title-large">Her er overskriften</h2>
    <form action="">
      <RadioButton />
    </form>
    <form action="">
      <AmountPicker />
    </form>
  </div>
</div>

<style>
  #formWithSnow {
    width: 432.27px;
    position: relative;
  }
  #snow {
    width: 432.27px;
    position: absolute;
    z-index: 2;
  }
  #form_container {
    position: absolute;
    top: 75px;
    justify-self: center;
    margin-left: calc((432.27px - 384px) / 2);
    margin-right: calc((432.27px - 384px) / 2);
    padding: var(--size-spacing-64) var(--size-spacing-32);

    width: 320px;
    height: 646px;
    border-radius: 11px;
    background-color: var(--color-surface-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }
</style>
