---
import RadioButton from "./form/RadioButton.astro";
import AmountPicker from "./form/AmountPicker.astro";
import InputFieldRequired from "./form/InputFieldRequired.astro";
import InputField from "./form/InputField.astro";
import Button from "./Button.astro";
import PaymentMethod from "./form/PaymentMethod.astro";
import ConsentCheckBox from "./form/ConsentCheckBox.astro";
---

<div id="formWithSnow">
  <!-- skift stien til at være i src istedet for public -->
  <img src="../../snow.svg" alt="illustration af sne på formularen" id="snow" />
  <div id="form_container">
    <div id="step1" class="hide formStep">
      <h2 class="text-form-title-large">Her er overskriften</h2>
      <form action="">
        <div id="radioButtonContainer">
          <RadioButton label="Månedligt" radioGroup="PaymentInfo" />
          <RadioButton label="Én gang" radioGroup="PaymentInfo" />
        </div>
        <AmountPicker size="regular" />
        <!-- <InputFieldRequired label="Andet beløb" labelThickness="thick" placeholder="ex: 1000" unit="kr." name="amountPicker" /> -->
        <Button label="Støt nu" size="thick" style="filled" />
      </form>
    </div>
    <div id="step2" class="formStep">
      <h2 class="text-form-title-large">Her er overskriften</h2>
      <form action="">
        <AmountPicker size="small" />
        <PaymentMethod />
        <div id="personalInfo">
          <InputFieldRequired label="Fornavn" type="text" autocomplete="given-name" placeholder="" />
          <InputFieldRequired label="Efternavn" type="text" autocomplete="family-name" placeholder="" />
          <InputFieldRequired label="E-mail" type="email" autocomplete="email" placeholder="" />
          <InputFieldRequired label="Telefon" type="tel" autocomplete="tel" placeholder="" />
          <InputField label="Postnr." type="" autocomplete="postal-code" placeholder="" fontWeight="semiBold" />
        </div>
        <RadioButton label="Jeg ønsker fradrag fra SKAT" radioGroup="skattefradrag" />
        <ConsentCheckBox />
        <div class="buttonContainer">
          <Button label="Gå til betaling" size="regular-wide" style="filled" />
          <div class="betalingsPolitik"><a href="#" class="text-body-small">BetalingsPolitik</a></div>
        </div>
      </form>
    </div>
    <div id="step3" class="hide formStep">
      <div id="cardPayment"></div>
      <div id="MobilePay"></div>
    </div>

    <div id="step4" class="hide formStep"></div>
  </div>
</div>

<style>
  #formWithSnow {
    width: 432.27px;
    position: relative;
  }
  #snow {
    width: 432.27px;
    position: absolute;
    z-index: 2;
  }
  #form_container {
    position: absolute;
    top: 75px;
    justify-self: center;
    margin-left: calc((432.27px - 384px) / 2);
    margin-right: calc((432.27px - 384px) / 2);
    padding: var(--size-spacing-64) var(--size-spacing-32);

    width: 320px;
    border-radius: 11px;
    background-color: var(--color-surface-white);
  }

  .formStep,
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .hide {
    display: none;
  }

  /* –––––––––– Step 1 –––––––––– */
  #radioButtonContainer {
    display: flex;
    gap: 24px;
  }
  /* –––––––––– Step 2 –––––––––– */
  #personalInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  .betalingsPolitik {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .betalingsPolitik a {
    text-decoration: none;
    color: var(--color-text-gray500);
  }
</style>
