---
import FormStep1 from "./form/FormStep1.astro";
import FormStep2 from "./form/FormStep2.astro";
import FormStep3Card from "./form/FormStep3_Card.astro";
import FormStep3MobilePay from "./form/FormStep3_MobilePay.astro";
import FormStep4 from "./form/FormStep4.astro";

import { Image } from "astro:assets";
import snow from "../assets/images/form/snow.svg";
---

<div id="formWithSnow">
  <Image src={snow} alt="illustration af sne på formularen" id="snow" />
  <div id="form_container">
    <FormStep1 />
    <FormStep2 />
    <FormStep3Card />
    <FormStep3MobilePay />
    <FormStep4 />
  </div>
</div>

<style>
  #formWithSnow {
    width: 432.27px;
    position: relative;
  }
  #snow {
    width: 432.27px;
    position: absolute;
    z-index: 2;
  }
  #form_container {
    position: absolute;
    top: 75px;
    justify-self: center;
    margin-left: calc((432.27px - 384px) / 2);
    margin-right: calc((432.27px - 384px) / 2);
    padding: var(--size-spacing-64) var(--size-spacing-32);

    width: 384px;
    border-radius: 11px;
    background-color: var(--color-surface-white);
  }

  .formStep,
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
</style>

<script>
  const showDetails = document.getElementById("showDetails");
  const msOpenMenu = document.getElementById("monthlySubDetails_openContainer");

  showDetails.addEventListener("click", toggleHide);

  function toggleHide() {
    msOpenMenu.classList.toggle("hide");
  }
</script>
