---
import { Image } from "astro:assets";
import door1 from "../assets/images/julekalender/door1.svg";
import door2 from "../assets/images/julekalender/door2.svg";
import door3 from "../assets/images/julekalender/door3.svg";
import door4 from "../assets/images/julekalender/door4.svg";
import door5 from "../assets/images/julekalender/door5.svg";
import door6 from "../assets/images/julekalender/door6.svg";
import door7 from "../assets/images/julekalender/door7.svg";
import door8 from "../assets/images/julekalender/door8.svg";
import door9 from "../assets/images/julekalender/door9.svg";
import door10 from "../assets/images/julekalender/door10.svg";
import door11 from "../assets/images/julekalender/door11.svg";
import door12 from "../assets/images/julekalender/door12.svg";
import door13 from "../assets/images/julekalender/door13.svg";
import door14 from "../assets/images/julekalender/door14.svg";
import door15 from "../assets/images/julekalender/door15.svg";
import door16 from "../assets/images/julekalender/door16.svg";
import door17 from "../assets/images/julekalender/door17.svg";
import door18 from "../assets/images/julekalender/door18.svg";
import door19 from "../assets/images/julekalender/door19.svg";
import door20 from "../assets/images/julekalender/door20.svg";
import door21 from "../assets/images/julekalender/door21.svg";
import door22 from "../assets/images/julekalender/door22.svg";
import door23 from "../assets/images/julekalender/door23.svg";
import door24 from "../assets/images/julekalender/door24.svg";

const images = await Astro.glob("/src/assets/images/julekalender/*").then(files => {
  return files.map(file => file.default);
---
<section> div class=calendar</section>