---
---

<div class="text-display-large">
  Julen er <span class="typing-text">hjerternes</span> fest
</div>

<style>
  .text-display-large {
    color: var(--white);
    padding-bottom: var(--size-spacing-24);
  }
  .typing-text {
    animation: fade ease 3.2s;
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.9;
    }

    100% {
      opacity: 0;
    }
  }
  .typing-text::after {
    content: "|";
    animation: blink ease 1s infinite;
    color: var(--red500);
  }

  .typing-text.finished::after {
    display: none;
    /* Skjul cursoren efter animationen er færdig */
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
</style>

<script>
  // get the element
  const text = document.querySelector(".typing-text");

  // make a words array
  const words = ["forbrugens "];

  // start typing effect with delay
  setTimeout(() => {
    setTyper(text, words);
  }, 3000); // Tilføj det ønskede delay i millisekunder før animationen starter

  function setTyper(element, words) {
    const LETTER_TYPE_DELAY = 125;
    const WORD_STAY_DELAY = 2000;

    const DIRECTION_FORWARDS = 0;
    const DIRECTION_BACKWARDS = 1;

    var direction = DIRECTION_FORWARDS;
    var wordIndex = 0;
    var letterIndex = 0;

    var wordTypeInterval;
    var animationComplete = false;

    startTyping();

    function startTyping() {
      wordTypeInterval = setInterval(typeLetter, LETTER_TYPE_DELAY);
    }

    function typeLetter() {
      if (animationComplete) {
        clearInterval(wordTypeInterval);
      }

      const word = words[wordIndex];

      if (direction == DIRECTION_FORWARDS) {
        letterIndex++;

        if (letterIndex == word.length) {
          direction = DIRECTION_BACKWARDS;
          clearInterval(wordTypeInterval);
          setTimeout(startTyping, WORD_STAY_DELAY);

          // Check if it's the last word, and stop after one loop
          if (wordIndex === words.length - 1) {
            animationComplete = true; // Mark animation as complete
            element.classList.add("finished"); // Tilføj klassen 'finished'
          }
        }
      }

      const textToType = word.substring(0, letterIndex);

      element.textContent = textToType;
    }
  }
</script>

<!-- Kode fundet her: https://codepen.io/varunpvp/pen/jeVLrG -->
