---
import { Image } from "astro:assets";
import logo from "../assets/Logo.svg";
---

<header>
  <div>
   <a href="/"><Image src={logo} alt="logo, plastik change" /></a> 
  </div>
  <nav>
    <ul>
      <li><a class="text-form-label-regular" href="kalender">Julekalender</a></li>
      <li><a class="text-form-label-regular" href="juleTips">Jule tips</a></li>
    </ul>
  </nav>
</header>

<style>

  a:hover {
color: var(--color-text-red500);
  }
  header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-spacing-12);
  }
  li a {
    color: var(--white);
    text-decoration: none;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--size-spacing-20);
  }

  @media only screen and (min-width: 768px) {
    ul {
      padding-right: var(--size-spacing-20);
      gap: var(--size-spacing-32);
    }
  }
</style>
