---
import { Image } from "astro:assets";
import logo from "../assets/Logo.svg";
import Button from "./Button.astro";
---

<header>
  <div>
    <a href="/"><Image src={logo} alt="logo, plastik change" /></a>
  </div>
  <nav class="desktop-nav">
    <ul class="nav-list">
      <li>
        <a class="text-form-label-semibold" href="/kalender/">Julekalender</a>
      </li>
      <li>
        <a class="text-form-label-semibold" href="/juleTips/">Jule tips</a>
      </li>
      <li>
        <Button href="/" label="Støt" size="regular" style="filled" />
      </li>
    </ul>
  </nav>
  <div class="mobile-nav">
    <div class="dropdown">
      <button class="dropbtn">&#9776;</button>
      <div class="dropdown-content">
        <a class="text-form-label-semibold" href="/kalender/">Julekalender</a>
        <a class="text-form-label-semibold" href="/juleTips/">Jule tips</a>
        <Button href="/" label="Støt" size="regular" style="filled" />
      </div>
    </div>
  </div>
</header>

<style>
  div {
    margin: var(--size-spacing-12) var(--size-spacing-12);
  }

  a:hover {
    color: var(--color-text-red500);
  }

  header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-spacing-12);
  }

  li a {
    color: var(--white);
    text-decoration: none;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--size-spacing-20);
    align-items: center;
  }

  .desktop-nav {
    display: flex;
  }

  .mobile-nav {
    display: none;
  }

  .dropdown {
    display: inline-block;
  }

  .dropbtn {
    background-color: var(--color-surface-red500);
    color: white;
    padding: var(--size-spacing-16) var(--size-spacing-20);
    font-size: var(--size-spacing-16);
    border: none;
    cursor: pointer;
    border-radius: 50px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    top: 79px;
    right: 24px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: var(--white);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: var(--color-surface-red500);
  }

  @media only screen and (max-width: 800px) {
    .desktop-nav {
      display: none;
    }

    .mobile-nav {
      display: block;
    }

    .dropdown:hover .dropdown-content {
      display: none;
    }

    .dropdown.active .dropdown-content {
      display: block;
    }

    .dropdown.active .dropbtn {
      background-color: var(--color-surface-red500);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var dropdown = document.querySelector(".dropdown");
    dropdown.addEventListener("click", function () {
      dropdown.classList.toggle("active");
    });
  });
</script>
