---
import { Image } from "astro:assets";
import logo from "../assets/Logo.svg";
import Button from "./Button.astro";
---

<header>
  <div>
   <a href="/"><Image src={logo} alt="logo, plastik change" /></a> 
  </div>
  <nav>
    <ul>
      <li><a class="text-form-label-semibold" href="/kalender/">Julekalender</a></li>
      <li><a class="text-form-label-semibold" href="/juleTips/">Jule tips</a></li>
      <li> <Button label="Støt" size="regular" style="filled"/> </li>
    </ul>
  </nav>
</header>

<style>

  div{
    margin: var(--size-spacing-12) var(--size-spacing-12);
  }

  a:hover {
color: var(--color-text-red500);
  }
  header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-spacing-12);
  }
  li a {
    color: var(--white);
    text-decoration: none;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--size-spacing-20);
    align-items: center;
  }

  @media only screen and (min-width: 768px) {
    ul {
      padding-right: var(--size-spacing-20);
      gap: var(--size-spacing-32);
    }
  }
</style>
