---

---

<section >
<div class="container">

</div>

</section>

<style>

.container{
background-image: url("../assets/backgroundImages/Popup1.svg");
width: 100vw;
height: 100vh 
}    


@media (min-width: 800px){
    .container{
background-image: url("../assets/backgroundImages/Popup1.svg");
background-position: center;
background-size: cover;

width: 930px;
height: 590px;
}

}
</style>